<div class="container">
    <h1>Dodaj sobu</h1>
    <form class="col-lg-5" [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
      <div class="form-group">
        <label for="">Broj kvadrata</label>
        <input type="number" class="form-control" formControlName="kvadrata" required>
      </div>
      <div class="form-group">
        <label for="">Broj kreveta</label>
        <input type="number" class="form-control" formControlName="kreveta" required>
      </div>
      <div class="form-group">
        <label for="">Sprat</label>
        <input type="text" class="form-control" formControlName="sprat" required>
      </div>
      <div class="form-group">
        <label for="">Terasa</label>
        <select class="form-control" formControlName="terasa" required>
          <option *ngFor="let pow of daNE" [value]="pow">{{pow}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Odvojena kuhinja</label>
        <select class="form-control" formControlName="kuhinja" required>
          <option *ngFor="let pow of daNE" [value]="pow">{{pow}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
